.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: black;
}
.main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2.5em;
    width: 100%;
    text-align: center;
}

.carousel{
    z-index: -1;
    width: 100%;
}


.img-container {
    height: auto;
    width: 30%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    min-width: 360px;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.car-1{
    background-color: #f25d34;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.car-2{
    background-color: #f6bbbe;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.car-3{
    background-color: #C7383C;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car-4{
    background-color: #1560BD;
    background-image: url(../assets/water.png);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.left-foot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    margin-left: 1rem;
    font-weight: 500;
    width: 45%;
}

.left-foot ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-foot ul li{
    margin: 0 1rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.left-foot ul a{
    text-decoration: none;
    color: black;
}

.left-foot ul i{
    transition: all 0.3s;
}

.left-foot ul i:hover{
    transform: scale(1.2);
}

.right-foot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    margin-right: 1rem;
    font-weight: 500;
    width: 45%;
}


@media screen and (max-width: 992px) {
    .main h1 {
        font-size: 3.5rem;
    }

    .left-foot ul a:hover{
        transform: none;
    }

    .foot {
        visibility: hidden;
    }
    
}

@media screen and (max-width: 767px) {
    .main h1 {
        font-size: 3rem;
    }
    
}       
